#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ --with systemd

SHELL=/bin/bash
TMP=$(CURDIR)/debian/tmp

export PATH:=/usr/lib/go-1.25/bin:$(PATH)
export GOPATH=$(CURDIR)/go
export GOROOT=/usr/lib/go-1.25
export GO111MODULE=off

override_dh_auto_build:
	mkdir -p $(GOPATH)/bin

	tar -zxf percona-toolkit*.tar.gz

	mkdir -p $(GOPATH)/src/github.com/percona
	ln -s $(CURDIR)/percona-toolkit-%{_commit} $(GOPATH)/src/github.com/percona/percona-toolkit

	cd $(GOPATH)/src/github.com/percona/percona-toolkit && \
		go install -ldflags="-s -w" ./src/go/pt-*

	cp $(GOPATH)/src/github.com/percona/percona-toolkit/bin/* $(GOPATH)/bin/

override_dh_auto_install:
	@echo "RULES.$@"
	install -d $(TMP)
	install -d $(TMP)/bin/

	cp $(GOPATH)/bin/* $(TMP)/bin/
